<%- include('partials/head') %>

<main>
  <h1><%= title %></h1>

  <section class="container">
    <% if (typeof productos != 'undefined') { productos.forEach(producto => { %>
    <article class="column column-50">
      <h2><%= producto.title %></h2>
      <img src="<%= producto.image %>" alt="<%= producto.title %>" />
      <p><%= producto.description %></p>
    </article>
    <% }) } %>
  </section>
</main>

<%- include('partials/footer') %>